<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample.board.springboot.mapper.board.BoardMapper">
    <resultMap id="BoardDtoMap" type="com.sample.board.springboot.web.dto.board.Board">
        <result column="br_no" property="brNo"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="review_count" property="reviewCount"></result>
        <result column="frst_reg_date" property="frstRegDate"></result>
        <result column="last_chg_date" property="lastChgDate"></result>
        <collection property="userDto" resultMap="UserDtoMap"></collection>

    </resultMap>

    <resultMap id="UserDtoMap" type="com.sample.board.springboot.web.dto.user.UserDto">
        <result column="user_no" property="userNo"></result>
        <result column="name"  property="name"></result>
    </resultMap>

    <update id="updateBoardReviewCount" parameterType="int">
        update board
        set
            review_count = review_count + 1
        where
            br_no = #{brNo}
    </update>

    <update id="deleteBoard" parameterType="com.sample.board.springboot.web.dto.board.BoardRequestdDto">
        update board
        set
            del_yn = #{delYn},
            last_chg_date = now()
        where
            br_no = #{brNo}
    </update>

    <update id="updateBoard" parameterType="com.sample.board.springboot.web.dto.board.BoardRequestdDto">
        update board
        set
            title = #{title},
            content = #{content},
            last_chg_date = now()
        where
            br_no = #{brNo} and
            user_no = #{userNo}
    </update>

<!--    <select id="selectBoardDetailData" parameterType="int" resultType="com.sample.board.springboot.web.dto.board.Board">-->
    <select id="selectBoardDetailData" parameterType="int" resultMap="BoardDtoMap">
        select
            a.br_no,
            b.user_no,
            b.name,
            a.review_count,
            a.title,
            a.content,
            a.frst_reg_date,
            a.last_chg_date
        from
            board a inner join user b
            on a.user_no = b.user_no
        where
            a.br_no = #{brNo}
            and a.del_yn = 'N'
        order by 1 desc;
    </select>

    <insert id="insertBoardHistory" parameterType="com.sample.board.springboot.web.dto.board.BoardRequestdDto">
        insert into board_hst(
            br_no,
            user_no,
            title,
            content,
            del_yn,
            frst_reg_date,
            last_chg_date
        ) values (
            #{brNo},
            #{userNo},
            #{title},
            #{content},
            #{delYn},
            now(),
            now()
        )
    </insert>

    <insert id="insertBoard" parameterType="com.sample.board.springboot.web.dto.board.BoardRequestdDto" useGeneratedKeys="true" keyProperty="brNo" >
        insert into board(
            user_no,
            title,
            content,
            del_yn,
            frst_reg_date,
            last_chg_date
        ) values (
            #{userNo},
            #{title},
            #{content},
            'N',
            now(),
            now()
        )
    </insert>

    <select id="selectBoardList" resultType="com.sample.board.springboot.web.dto.board.BoardListResponseDto">
        select
            a.br_no,
            a.title,
            ifnull(b.name, '탈퇴사용자') name,
            a.del_yn,
            a.review_count,
            a.frst_reg_date,
            a.last_chg_date
        from
            board a inner join user b
            on a.user_no = b.user_no
        where
            a.del_yn = 'N'
        order by
            a.frst_reg_date desc
    </select>

</mapper>