<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="layout/layout :: f_header"></th:block>
<!--    <link rel="stylesheet" href="/css/custom.css">-->
</head>
<body id="page-top">
<th:block th:insert="layout/layout :: f_navigation"></th:block>
<th:block th:insert="board/board_content :: f_content"></th:block>
<th:block th:insert="layout/layout :: f_footer"></th:block>
<th:block th:insert="board/board_write_modal :: f_board_write_modal"></th:block>
<th:block th:replace="board/board_detail_modal :: f_board_detail_modal" ></th:block>

<script defer th:inline="javascript">
        /*<![CDATA[*/
        const userInfo = /*[[ ${userInfo} ]]*/;
        const boardList = /*[[ ${boardDataList} ]]*/;
        /*]]*/
</script>
<script defer src="/js/board/main.js"></script>
</body>
</html>